
$text-color: #2c3e50;

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.center-text {
	display: inline-flex !important;
	justify-content: start !important;
	align-items: center !important;
	white-space: nowrap !important;
}
