<div>
<h1 mat-dialog-title>Are you confirm to Delete it?</h1>
<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="true">Yes</button>
  <button mat-raised-button [mat-dialog-close]="false">No</button>
</mat-dialog-actions>
</div>