<div fxLayout="row" fxLayoutAlign="center start">
	<mat-card fxFlex="0 0 60%" style="margin: 20px;">
		<mat-card-header>
			<mat-card-title>Create Task</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<form [formGroup]="createTaskFormModel" (ngSubmit)="create()">

				<mat-form-field class="full-width">
					<input matInput placeholder="Name"
					       formControlName="name">
					<mat-error *ngIf="createTaskFormModel.controls['name'].invalid
                                        && createTaskFormModel.controls['name'].touched">
						Please, specify this field
					</mat-error>
				</mat-form-field>
				<mat-form-field class="full-width">
					<mat-select placeholder="Assignee" formControlName="assignee">
						<mat-option *ngFor="let participantFullInfo of (participants | async)"
						            [value]="participantFullInfo.objectId">
							<img [src]="participantFullInfo.avatar"
							     [alt]="participantFullInfo.username"
							     width="32" height="32"
								 class="image-option">
							<span class="text-option">
								{{participantFullInfo.username}}
							</span>
						</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field class="full-width">
					<input matInput placeholder="Description"
					       formControlName="description">
				</mat-form-field>

				<mat-form-field class="full-width">
					<input matInput placeholder="Deadline"
					       [matDatepicker]="deadlinePicker"
					       formControlName="deadline">
					<mat-datepicker-toggle matSuffix [for]="deadlinePicker"></mat-datepicker-toggle>
					<mat-datepicker #deadlinePicker></mat-datepicker>
				</mat-form-field>

				<mat-form-field class="full-width">
					<mat-select placeholder="Type" formControlName="type">
						<mat-option *ngFor="let type of types" [value]="type.valueOf()">
							{{type.valueOf()}}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field class="full-width">
					<mat-select placeholder="Status" formControlName="status">
						<mat-option *ngFor="let status of statuses" [value]="status.valueOf()">
							{{status.valueOf()}}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field class="full-width">
					<mat-select placeholder="Priority" formControlName="priority">
						<mat-option *ngFor="let priority of priorities" [value]="priority.valueOf()">
							{{priority.valueOf()}}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field class="full-width">
					<mat-select placeholder="Labels" formControlName="labels" multiple>
						<mat-select-trigger style="min-height: 10px; display: block">
							<span *ngFor="let selected of createTaskFormModel.controls['labels'].value"
							      class="task-label-in-placeholder" [style.background-color]="'#' + selected.color">
								<span style="color: white">{{selected.name}}</span>
							</span>
						</mat-select-trigger>
						<mat-option *ngFor="let label of (projectLabels | async)" [value]="label">
							<span class="task-label" [style.background-color]="'#' + label.color">
								<span style="color: white">{{label.name}}</span>
							</span>
							<span style="margin-left: 10px">{{label.description}}</span>
						</mat-option>
					</mat-select>
				</mat-form-field>

				<button mat-flat-button color="primary" class="create">
		            <span class="center-text">
                        <span>Create Task</span>
		            </span>
				</button>
			</form>
		</mat-card-content>
	</mat-card>

</div>