.text-option {
	display: inline-block;
	vertical-align: middle;
}

.image-option {
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
}

.username-option:after {
	content: '\A';
	white-space: pre;
}

.task-label {
	padding: 2px 5px;
	border-radius: 30px;
}

.task-label-in-placeholder {
	padding: 2px 5px;
	border-radius: 30px;
	display: inline-block;
	vertical-align: middle;
}
