:host {
	height: 100%;
	width: 100%;
	overflow-x: auto;
}

.sprint-board {
	margin-top: 80px;
	height: calc(100% - 80px);
}

.sprint-board-toolbar {
	position: fixed;
	z-index: 9999;
	margin: 20px;
	width: calc(100% - 340px)
}

.task-container {
	margin: 20px 10px;
	width: 300px;

	&__placeholder {
		min-height: 95%;
		max-height: 95%;
		overflow-y: auto;
	}

	&__list {
		height: 70vh;
	}
}

.task {
	border: 1px solid lightgray;
	border-radius: 12px;
	padding: 10px;
}

.task-link {
	color: black;
	text-decoration: none;
	font-size: 18px;

	&:hover {
		text-decoration: underline;
		text-decoration-color: black;
	}
}

.label {
	padding: 2px 5px;
	border-radius: 30px;
}