
<mat-toolbar class="mat-elevation-z2 sprint-board-toolbar">
	<button mat-button (click)="createTaskRouting()">
		<mat-icon>add</mat-icon>
	</button>
	Create New Task
	<span fxFlex="1 1 auto"></span>
	<div fxFlex="0 0 10%">
		<span>{{getPercentage()}}% complete</span>
		<mat-progress-bar color="#76FF03"
		                  [value]="getPercentage()"
		></mat-progress-bar>
	</div>
</mat-toolbar>

<div fxLayout="row" fxLayoutAlign="start stretch" class="sprint-board" cdkDropListGroup>
	<mat-card fxFlex="0 0 350px" class="task-container">
		<mat-card-header>
			<mat-card-title>Open</mat-card-title>
		</mat-card-header>
		<mat-card-content class="task-container__placeholder">
			<div cdkDropList
			     [cdkDropListData]="openTasks"
			     class="task-container__list"
			     fxLayout="column" fxLayoutGap="10px"
			     (cdkDropListDropped)="drop($event, 'OPEN')" >
				<div *ngFor="let item of openTasks" cdkDrag [cdkDragData]="item" class="task" (drop)="update(item.taskId)"
				style="background-color: #FAFAFA ">
					<div style="margin: 0 0 10px 0">
						<a [routerLink]="'/app/task/' + item.taskId + '/update'"  class="task-link">{{item.name}}</a>
					</div>
					<div fxLayout="row wrap" style="margin-bottom: 10px">
						<div fxFlex="0 0 auto"
						     class="label"
						     *ngFor="let label of item?.labels"
						     [style.background-color]="'#' + label.color">
							<span style="color: white">{{label.name}}</span>
						</div>
					</div>
					<div>
						Assignee: <a [routerLink]="'/app/user/info/' + (getUserAccountId(item.assignee) | async)">{{item.assigneeUsername}}</a>
					</div>
					<div>Deadline: {{dateService.getDate(item.deadline)}}</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<mat-card fxFlex="0 0 350px" class="task-container">
		<mat-card-header>
			<mat-card-title>In Progress</mat-card-title>
		</mat-card-header>
		<mat-card-content class="task-container__placeholder">
			<div cdkDropList
			     [cdkDropListData]="inProgressTasks"
			     class="task-container__list"
			     fxLayout="column" fxLayoutGap="10px"
			     (cdkDropListDropped)="drop($event, 'IN_PROGRESS')">
				<div *ngFor="let item of inProgressTasks" [cdkDragData]="item" cdkDrag class="task"
				     style="background-color: #ECEFF1 ">
					<div style="margin: 0 0 10px 0">
						<a [routerLink]="'/app/task/' + item.taskId + '/update'" class="task-link">{{item.name}}</a>
					</div>
					<div fxLayout="row wrap" style="margin-bottom: 10px">
						<div fxFlex="0 0 auto"
						     class="label"
						     *ngFor="let label of item?.labels"
						     [style.background-color]="'#' + label.color">
							<span style="color: white">{{label.name}}</span>
						</div>
					</div>
					<div>
						Assignee: <a [routerLink]="'/app/user/info/' + (getUserAccountId(item.assignee) | async)">{{item.assigneeUsername}}</a>
					</div>
					<div>Deadline: {{dateService.getDate(item.deadline)}}</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<mat-card fxFlex="0 0 350px" class="task-container">
		<mat-card-header>
			<mat-card-title>Implemented</mat-card-title>
		</mat-card-header>
		<mat-card-content class="task-container__placeholder">
			<div cdkDropList
			     [cdkDropListData]="implementedTasks"
			     class="task-container__list"
			     fxLayout="column" fxLayoutGap="10px"
			     (cdkDropListDropped)="drop($event, 'IMPLEMENTED')">
				<div *ngFor="let item of implementedTasks" [cdkDragData]="item" cdkDrag class="task"
				     style="background-color: #EFEBE9">
					<div style="margin: 0 0 10px 0">
						<a [routerLink]="'/app/task/' + item.taskId + '/update'" class="task-link">{{item.name}}</a>
					</div>
					<div fxLayout="row wrap" style="margin-bottom: 10px">
						<div fxFlex="0 0 auto"
						     class="label"
						     *ngFor="let label of item?.labels"
						     [style.background-color]="'#' + label.color">
							<span style="color: white">{{label.name}}</span>
						</div>
					</div>
					<div>
						Assignee: <a [routerLink]="'/app/user/info/' + (getUserAccountId(item.assignee) | async)">{{item.assigneeUsername}}</a>
					</div>
					<div>Deadline: {{dateService.getDate(item.deadline)}}</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>

	<mat-card fxFlex="0 0 350px" class="task-container">
		<mat-card-header>
			<mat-card-title>Ready for testing</mat-card-title>
		</mat-card-header>
		<mat-card-content class="task-container__placeholder">
			<div cdkDropList
			     [cdkDropListData]="readyForTestingTasks"
			     class="task-container__list"
			     fxLayout="column" fxLayoutGap="10px"
			     (cdkDropListDropped)="drop($event, 'READY_FOR_TESTING')">
				<div *ngFor="let item of readyForTestingTasks" [cdkDragData]="item" cdkDrag class="task"
				style="background-color: #E8F5E9">
					<div style="margin: 0 0 10px 0">
						<a [routerLink]="'/app/task/' + item.taskId + '/update'" class="task-link">{{item.name}}</a>
					</div>
					<div fxLayout="row wrap" style="margin-bottom: 10px">
						<div fxFlex="0 0 auto"
						     class="label"
						     *ngFor="let label of item?.labels"
						     [style.background-color]="'#' + label.color">
							<span style="color: white">{{label.name}}</span>
						</div>
					</div>
					<div>
						Assignee: <a [routerLink]="'/app/user/info/' + (getUserAccountId(item.assignee) | async)">{{item.assigneeUsername}}</a>
					</div>
					<div>Deadline: {{dateService.getDate(item.deadline)}}</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>

	<mat-card fxFlex="0 0 350px" class="task-container">
		<mat-card-header>
			<mat-card-title>Reopened</mat-card-title>
		</mat-card-header>
		<mat-card-content class="task-container__placeholder">
			<div cdkDropList
			     [cdkDropListData]="reopenedTasks"
			     class="task-container__list"
			     fxLayout="column" fxLayoutGap="10px"
			     (cdkDropListDropped)="drop($event, 'REOPENED')">
				<div *ngFor="let item of reopenedTasks" [cdkDragData]="item" cdkDrag class="task"
				     style="background-color: #E0F2F1">
					<div style="margin: 0 0 10px 0">
						<a [routerLink]="'/app/task/' + item.taskId + '/update'" class="task-link">{{item.name}}</a>
					</div>
					<div fxLayout="row wrap" style="margin-bottom: 10px">
						<div fxFlex="0 0 auto"
						     class="label"
						     *ngFor="let label of item?.labels"
						     [style.background-color]="'#' + label.color">
							<span style="color: white">{{label.name}}</span>
						</div>
					</div>
					<div>
						Assignee: <a [routerLink]="'/app/user/info/' + (getUserAccountId(item.assignee) | async)">{{item.assigneeUsername}}</a>
					</div>
					<div>Deadline: {{dateService.getDate(item.deadline)}}</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<mat-card fxFlex="0 0 350px" class="task-container">
		<mat-card-header>
			<mat-card-title>On hold</mat-card-title>
		</mat-card-header>
		<mat-card-content class="task-container__placeholder">
			<div cdkDropList
			     [cdkDropListData]="onHoldTasks"
			     class="task-container__list"
			     fxLayout="column" fxLayoutGap="10px"
			     (cdkDropListDropped)="drop($event, 'ON_HOLD')">
				<div *ngFor="let item of onHoldTasks" [cdkDragData]="item" cdkDrag class="task"
				     style="background-color: #F3E5F5">
					<div style="margin: 0 0 10px 0">
						<a [routerLink]="'/app/task/' + item.taskId + '/update'" class="task-link">{{item.name}}</a>
					</div>
					<div fxLayout="row wrap" style="margin-bottom: 10px">
						<div fxFlex="0 0 auto"
						     class="label"
						     *ngFor="let label of item?.labels"
						     [style.background-color]="'#' + label.color">
							<span style="color: white">{{label.name}}</span>
						</div>
					</div>
					<div>
						Assignee: <a [routerLink]="'/app/user/info/' + (getUserAccountId(item.assignee) | async)">{{item.assigneeUsername}}</a>
					</div>
					<div>Deadline: {{dateService.getDate(item.deadline)}}</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<mat-card fxFlex="0 0 350px" class="task-container">
		<mat-card-header>
			<mat-card-title>Closed</mat-card-title>
		</mat-card-header>
		<mat-card-content class="task-container__placeholder">
			<div cdkDropList
			     [cdkDropListData]="closedTasks"
			     class="task-container__list"
			     fxLayout="column" fxLayoutGap="10px"
			     (cdkDropListDropped)="drop($event, 'CLOSED')">
				<div *ngFor="let item of closedTasks" [cdkDragData]="item" cdkDrag class="task"
				     style="background-color: #FBE9E7 ">
					<div style="margin: 0 0 10px 0">
						<a [routerLink]="'/app/task/' + item.taskId + '/update'" class="task-link">{{item.name}}</a>
					</div>
					<div fxLayout="row wrap" style="margin-bottom: 10px">
						<div fxFlex="0 0 auto"
						     class="label"
						     *ngFor="let label of item?.labels"
						     [style.background-color]="'#' + label.color">
							<span style="color: white">{{label.name}}</span>
						</div>
					</div>
					<div>
						Assignee: <a [routerLink]="'/app/user/info/' + (getUserAccountId(item.assignee) | async)">{{item.assigneeUsername}}</a>
					</div>
					<div>Deadline: {{dateService.getDate(item.deadline)}}</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>
