@import "../../../../../assets/styles/theme";

.main-submenu__item {
	&:hover {
		background-color: darken(white, 10%);
	}

	text-decoration: none;
	padding: 15px 15px 15px 15px;

	box-sizing: border-box;

	&:visited {
		color: black;
	}
}

.sub-menu {
	& mat-icon:not([mat-list-icon]) {
		margin-left: auto;
	}
}
