<div [ngStyle]="{'padding-left': pad + 'px'}" mat-list-item matRipple
	 class="main-submenu__item center-text full-width sub-menu"
	 (click)="show = !show">
	<mat-icon mat-list-icon>{{icon}}</mat-icon>
	<span>{{placeholder}}</span>
	<mat-icon *ngIf="show">expand_more</mat-icon>
	<mat-icon *ngIf="!show">expand_less</mat-icon>
</div>

<ng-content *ngIf="show"></ng-content>
