<mat-card style="margin: 20px; width: 600px">
	<mat-card-header>
		<mat-card-title>Change Password</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<form [formGroup]="updateUserPasswordFormGroup" (submit)="update()">

			<mat-form-field class="full-width">
				<input matInput type="password" placeholder="Old Password"
				       formControlName="oldPassword" [(ngModel)]="model.oldPassword" required>
					<mat-error *ngIf="updateUserPasswordFormGroup.hasError('required', ['oldPassword'])">
						Please, specify this field
					</mat-error>
			</mat-form-field>

		<div formGroupName="matchingPassword">
			<mat-form-field class="full-width">
				<input matInput type="password" placeholder="New Password"
				       formControlName="newPassword" [(ngModel)]="model.password" required>
				<mat-error *ngIf="updateUserPasswordFormGroup.get('matchingPassword').hasError('required', ['newPassword'])">
					Please, specify this field
				</mat-error>
				<mat-error *ngIf="updateUserPasswordFormGroup.get('matchingPassword').hasError('minlength', ['newPassword'])">
					Password must be at least 8 characters long
				</mat-error>
				<mat-error *ngIf="updateUserPasswordFormGroup.get('matchingPassword').hasError('maxlength', ['newPassword'])">
					Password mustn't be longer than 32 characters
				</mat-error>
			</mat-form-field>

			<mat-form-field class="full-width">
				<input matInput type="password" placeholder="Confirm new Password"
				       formControlName="confirmPassword"
				       [errorStateMatcher]="parentErrorStateMatcher" [(ngModel)]="model.confirmPassword" required>
				<mat-error *ngIf="updateUserPasswordFormGroup.get('matchingPassword').hasError('required', ['confirmPassword'])">
					Please, specify this field
				</mat-error>
				<mat-error *ngIf="updateUserPasswordFormGroup.get('matchingPassword').hasError('areEqual')">
					Password mismatch
				</mat-error>
			</mat-form-field>
		</div>

			<button mat-flat-button color="primary" class="create" style="margin-top: 20px">
		  <span class="center-text">
            <span>Change Password</span>
		  </span>
			</button>
		</form>
	</mat-card-content>
</mat-card>


