<mat-card style="margin: 20px; width: 600px">
  <mat-card-header>
    <mat-card-title>Update Task</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="updateTaskFormGroup" (ngSubmit)="update()">
      <mat-form-field class="full-width">
        <input matInput placeholder="Name"
               formControlName="name">
        <mat-error *ngIf="updateTaskFormGroup.controls['name'].invalid
              && updateTaskFormGroup.controls['name'].touched">
          Please, specify this field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Description"
               formControlName="description">
        <mat-error *ngIf="updateTaskFormGroup.controls['description'].invalid
              && updateTaskFormGroup.controls['description'].touched">
          Please, specify this field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select placeholder="Type" formControlName="type">
          <mat-option *ngFor="let type of types" [value]="type.valueOf()">
            {{type.valueOf()}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="updateTaskFormGroup.controls['type'].invalid
              && updateTaskFormGroup.controls['type'].touched">
          Please, specify this field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select placeholder="Priority" formControlName="priority">
          <mat-option *ngFor="let priority of priorities" [value]="priority.valueOf()">
            {{priority.valueOf()}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="updateTaskFormGroup.controls['priority'].invalid
              && updateTaskFormGroup.controls['priority'].touched">
          Please, specify this field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select placeholder="Status" formControlName="status">
          <mat-option *ngFor="let status of statuses" [value]="status.valueOf()">
            {{status.valueOf()}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="updateTaskFormGroup.controls['status'].invalid
              && updateTaskFormGroup.controls['status'].touched">
          Please, specify this field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select placeholder="Assignee" formControlName="assignee">
          <mat-option *ngFor="let assignee of assignees" [value]="assignee.objectId.valueOf()">
            <img [src]="assignee.avatar"
                 [alt]="assignee.username"
                 width="32" height="32"
                 class="image-option">
            <span class="text-option">
              {{assignee.username.valueOf()}}
            </span>
          </mat-option>
        </mat-select>
        <mat-error *ngIf="updateTaskFormGroup.controls['assignee'].invalid
              && updateTaskFormGroup.controls['assignee'].touched">
          Please, specify this field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select placeholder="Labels" formControlName="labels" multiple>
          <mat-select-trigger style="min-height: 10px; display: block">
							<span *ngFor="let selected of updateTaskFormGroup.controls['labels'].value"
                                  class="task-label-in-placeholder" [style.background-color]="'#' + selected.color">
								<span style="color: white">{{selected.name}}</span>
							</span>
          </mat-select-trigger>

          <mat-option *ngFor="let label of (projectLabels | async)" [value]="label">
							<span class="task-label" [style.background-color]="'#' + label.color">
								<span style="color: white">{{label.name}}</span>
							</span>
            <span style="margin-left: 10px">{{label.description}}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Deadline"
               [matDatepicker]="deadline"
               formControlName="deadline">
        <mat-datepicker-toggle matSuffix [for]="deadline"></mat-datepicker-toggle>
        <mat-datepicker #deadline></mat-datepicker>
        <mat-error *ngIf="updateTaskFormGroup.controls['deadline'].invalid
              && updateTaskFormGroup.controls['deadline'].touched">
          Please, specify this field
        </mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary" class="create">
		  <span class="center-text">
            <span>Update Task</span>
		  </span>
      </button>
    </form>
  </mat-card-content>
</mat-card>
