:host {
	min-height: 100%;
	min-width: 100%;
}

.documentation-placeholder {
	min-width: calc(100vw - 300px);
	min-height: calc(100vh - 60px);
	padding: 10px 20px 10px 10px;
}

.documentation-placeholder__ondragenter {
	background-color: adjust_color(#ecf0f1, $red: -35, $green: -35);
	border: 2px solid adjust_color(#ecf0f1, $red: -105, $green: -105);
	padding: 8px 18px 8px 8px;
}

.documentation-card {
	margin: 10px;
	overflow: hidden;
	height: 10%;

	&__title {
		font-size: 18px !important;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}

.user-link {
	color: gray;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		text-decoration-color: gray;
	}
}