<mat-progress-bar
		*ngIf="isNeedToShowProgressBar"
		mode="determinate"
		[value]="progress"
		color="accent"></mat-progress-bar>
<div fxLayout="row wrap"
     fxLayoutGap="10px"
     fxLayoutAlign="start flex-start"
     [ngClass]="isDragEnter
	    ? 'documentation-placeholder documentation-placeholder__ondragenter'
	    : 'documentation-placeholder'"
     (drop)="addNewDocument($event)"
     (dragover)="preventDefault($event)"
     (dragenter)="switchStyle($event)"
     (dragleave)="switchStyle($event)">
	<div *ngIf="documents.length === 0">
		<span>This project has no documents to view</span>
	</div>
	<mat-card *ngFor="let document of documents"
	          fxFlex="0 0 calc(33% - 20px)"
	          class="documentation-card">
		<mat-card-header class="documentation-card__title">
			<mat-card-title>{{document.name}}</mat-card-title>
			<mat-card-subtitle>
				Uploaded by:
				<a [routerLink]="'/app/user/info/' + document.creatorParticipantId"
				   class="user-link">
					{{document.creatorParticipantName}}
				</a>
			</mat-card-subtitle>
		</mat-card-header>
		<mat-divider></mat-divider>
		<mat-card-actions>
			<mat-menu #appMenu="matMenu">
				<button mat-menu-item (click)="downloadFile(document.objectId, document.name)">
					<mat-icon>cloud_download</mat-icon>Download
				</button>
				<button mat-menu-item (click)="deleteFile(document)">
					<mat-icon>delete_forever</mat-icon>Delete
				</button>
			</mat-menu>

			<button mat-icon-button [matMenuTriggerFor]="appMenu">
				<mat-icon>more_vert</mat-icon>
			</button>
		</mat-card-actions>
	</mat-card>
</div>