<mat-card style="margin: 20px; width: 600px">
	<mat-card-header>
		<mat-card-title>Update Project</mat-card-title>
	</mat-card-header>
	<mat-card-content>

		<img class="center-text" width="128" height="128"
		     [src]="logoPreview"
		     alt="person" style="
		     background-color: #d1d8e0; border-radius: 50%;" (click)="fileInput.click()"/>

		<button type="button" mat-raised-button color="primary"
		        (click)="fileInput.click()">Choose Logo</button>
		<input hidden type="file" #fileInput (change)="handleFileInput($event.target.files)" >


		<form [formGroup]="updateProjectFormGroup" (ngSubmit)="update()">
			<mat-form-field class="full-width">
				<input matInput placeholder="Name"
				       formControlName="name">
				<mat-error *ngIf="updateProjectFormGroup.controls['name'].invalid
              && updateProjectFormGroup.controls['name'].touched">
					Please, specify this field
				</mat-error>
			</mat-form-field>

			<mat-form-field class="full-width">
				<input matInput placeholder="Description"
				       formControlName="description">
				<mat-error *ngIf="updateProjectFormGroup.controls['description'].invalid
              && updateProjectFormGroup.controls['description'].touched">
					Please, specify this field
				</mat-error>
			</mat-form-field>

			<mat-form-field class="full-width">
				<mat-select placeholder="Phase" formControlName="phase">
					<mat-option *ngFor="let phase of phases" [value]="phase.valueOf()">
						{{phase.valueOf()}}
					</mat-option>
				</mat-select>
				<mat-error *ngIf="updateProjectFormGroup.controls['phase'].invalid
              && updateProjectFormGroup.controls['phase'].touched">
					Please, specify this field
				</mat-error>
			</mat-form-field>

			<mat-form-field class="full-width">
				<input [matDatepicker]="startDate" matInput placeholder="Start Date"
				       formControlName="startDate">
				<mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
				<mat-datepicker #startDate></mat-datepicker>
				<mat-error *ngIf="updateProjectFormGroup.controls['startDate'].invalid
              && updateProjectFormGroup.controls['startDate'].touched">
					Please, specify this field
				</mat-error>
			</mat-form-field>

			<mat-form-field class="full-width">
				<input matInput placeholder="End Date"
				       [matDatepicker]="endDate"
				       formControlName="endDate">
				<mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
				<mat-datepicker #endDate></mat-datepicker>
				<mat-error *ngIf="updateProjectFormGroup.controls['endDate'].invalid
              && updateProjectFormGroup.controls['endDate'].touched">
					Please, specify this field
				</mat-error>
			</mat-form-field>

			<button mat-flat-button color="primary" class="create">
		  <span class="center-text">
            <span>Update Project</span>
		  </span>
			</button>
		</form>
	</mat-card-content>
</mat-card>
