<div fxLayout="row" fxLayoutAlign="center start">
  <mat-card fxFlex="0 0 60%" style="margin: 20px;">
    <mat-card-header>
      <mat-card-title>Create Label</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="createLabelFormModel" (ngSubmit)="create()">

        <mat-form-field class="full-width">
          <input matInput placeholder="Name"
                 formControlName="name">
          <mat-error *ngIf="createLabelFormModel.controls['name'].invalid
                                        && createLabelFormModel.controls['name'].touched">
            Please, specify this field
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Description"
                 formControlName="description">
        </mat-form-field>

        <mat-form-field style="width: 30%">
          <input matInput matRipple type="color" placeholder="Choose color"
                 formControlName="color" style="width: 20%">
        </mat-form-field>

        <br>
        <button mat-flat-button color="primary" class="create">
		            <span class="center-text">
                        <span>Create Label</span>
		            </span>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>