<div fxLayout="row"
	 fxLayoutGap="50px"
	 style="margin: 50px;">
	<mat-card>
		<img width="128" height="128"
			 [src]="avatar"
			 alt="person" style="
			 background-color: #848484; border-radius: 50%">
		<mat-card-content>
			<mat-list>
				<mat-list-item>
					<span>User ID: {{user.principal.objectId}}</span>
				</mat-list-item>
				<mat-divider></mat-divider>
				<mat-list-item>
					<h3 matLine>Username</h3>
					<span matLine>{{user.principal.username}}</span>
				</mat-list-item>
				<mat-divider></mat-divider>
				<mat-list-item>
					<h3 matLine>First name</h3>
					<span matLine>{{user.principal.firstName}}</span>
				</mat-list-item>
				<mat-divider></mat-divider>
				<mat-list-item>
					<h3 matLine>Last name</h3>
					<span matLine>{{user.principal.lastName}}</span>
				</mat-list-item>
				<mat-divider></mat-divider>
				<mat-list-item>
					<h3 matLine>Email</h3>
					<span matLine>{{user.principal.email}}</span>
				</mat-list-item>
			</mat-list>
		</mat-card-content>
		<mat-divider></mat-divider>
		<mat-card-actions>
			<button mat-button color="primary" (click)="edit()">EDIT</button>
		</mat-card-actions>
	</mat-card>
	<mat-card class="full-width">
		<mat-card-content>
			<mat-nav-list>
				<a mat-list-item
				   matRipple
				   class="center-text full-width"
				   *ngFor="let project of (projects | async)"
				   [routerLink]="'/app/project/board/' + project.objectId">
					<img mat-list-icon
					     class="project-logo"
						 alt="project"
						 [src]="project.projectLogo">
					<h3 matLine>{{project.projectName}}</h3>
					<span matLine>{{project.participantRole}}</span>

					<a [routerLink]="'/app/project/update/' + project.objectId" >
						<mat-icon style="margin-right: auto">edit</mat-icon>
					</a>
				</a>

			</mat-nav-list>
		</mat-card-content>
	</mat-card>
</div>