<mat-card style="margin: 20px; width: 600px">
  <mat-card-header>
    <mat-card-title>Change Email</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="updateEmailFormGroup" (submit)="update()" >
      <mat-form-field class="full-width">
        <input matInput placeholder="Enter new email"
               formControlName="email">
        <mat-error *ngIf="updateEmailFormGroup.hasError('required', ['email'])" >
          Please, specify this field
        </mat-error>
        <mat-error *ngIf="updateEmailFormGroup.hasError('email', ['email'])">
          Invalid email format
        </mat-error>
        <mat-error *ngIf="updateEmailFormGroup.hasError('emailExists', ['email'])">
          Email already exists
        </mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary" class="create">
		  <span class="center-text">
            <span>Change Email</span>
		  </span>
      </button>
    </form>
  </mat-card-content>
</mat-card>
