<form class="login-page-form" [formGroup]="loginFormModel" (ngSubmit)="login()">
	<mat-form-field class="full-width">
		<input  matInput placeholder="Login"
			   formControlName="username">
		<mat-error *ngIf="loginFormModel.controls['username'].invalid && loginFormModel.controls['username'].touched">
			Please, specify login field
		</mat-error>
	</mat-form-field>

	<mat-form-field class="full-width">
		<input  type="password" matInput placeholder="Password"
			   formControlName="password">
		<mat-error *ngIf="loginFormModel.controls['password'].invalid && loginFormModel.controls['password'].touched">
			Please, specify password field
		</mat-error>
	</mat-form-field>

	<button type="submit" mat-flat-button color="primary" class="sign-in-button">
		<span class="center-text">
			<mat-icon class="material-icons">input</mat-icon>
			<span>Sign in</span>
		</span>
	</button>
</form>
