
<mat-toolbar color="primary" class="main-page__header mat-elevation-z3">
	<img src="../../../../assets/images/tmnc32x32.png" alt="not found logo">
	<span>Task Manager NC</span>
</mat-toolbar>

<mat-sidenav-container class="main-page__content" style="background-color: transparent">
	<mat-sidenav mode="side"
				 [(opened)]="opened"
				 style="width: 300px"
				 class="mat-elevation-z4">
		<app-main-menu></app-main-menu>
	</mat-sidenav>

	<mat-sidenav-content fxLayout
	                     fxLayoutAlign="center start"
						 class="main-page__content__main">
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>

