:host {
	height: 100%;
}

.main-page__content {
	height: calc(100% - 60px);
}

.main-page__header {
	height: 60px;
	span {
		margin-left: 8px;
	}
}

.main-page__content__main {
	overflow-y: auto;
	overflow-x: hidden;
}