<form class="login-page-form" (submit)="register()" [formGroup]="registrationFormModel">
	<mat-form-field class="full-width">
		<input matInput placeholder="Login"
		       formControlName="login" [(ngModel)]="model.username" required>
		<mat-error *ngIf="registrationFormModel.hasError('required', ['login'])">
			Please, specify login field
		</mat-error>
		<mat-error *ngIf="registrationFormModel.hasError('pattern', ['login'])">
			Invalid login format
		</mat-error>
		<mat-error *ngIf="registrationFormModel.hasError('usernameExists', ['login'])">
			Username already exists
		</mat-error>
	</mat-form-field>

	<mat-form-field class="full-width">
		<input matInput placeholder="Email"
		       formControlName="email" [(ngModel)]="model.email" required>
		<mat-error *ngIf="registrationFormModel.hasError('email', ['email'])">
			Invalid email format
		</mat-error>
		<mat-error *ngIf="registrationFormModel.hasError('required', ['email'])">
			Please, specify email field
		</mat-error>
		<mat-error *ngIf="registrationFormModel.hasError('emailExists', ['email'])">
			Email already exists
		</mat-error>
	</mat-form-field>

	<mat-form-field class="full-width">
		<input matInput placeholder="First name"
		       formControlName="firstName" [(ngModel)]="model.firstName" required>
		<mat-error *ngIf="registrationFormModel.controls['firstName'].invalid
							&& registrationFormModel.controls['firstName'].touched">
			Please, specify first name field
		</mat-error>
	</mat-form-field>

	<mat-form-field class="full-width">
		<input matInput placeholder="Last name"
		       formControlName="lastName" [(ngModel)]="model.lastName" required>
		<mat-error *ngIf="registrationFormModel.controls['lastName'].invalid
							&& registrationFormModel.controls['lastName'].touched">
			Please, specify last name field
		</mat-error>
	</mat-form-field>

	<div formGroupName="matchingPassword">
		<mat-form-field class="full-width">
			<input type="password" matInput placeholder="Password"
			       formControlName="password" [(ngModel)]="model.password" required>
			<mat-error *ngIf="registrationFormModel.get('matchingPassword').hasError('minlength', ['password'])">
				Password must be at least 8 characters long
			</mat-error>
			<mat-error *ngIf="registrationFormModel.get('matchingPassword').hasError('maxlength', ['password'])">
				Password mustn't be longer than 32 characters
			</mat-error>
			<mat-error *ngIf="registrationFormModel.get('matchingPassword').hasError('required', ['password'])">
				Please, specify password field
			</mat-error>
		</mat-form-field>

		<mat-form-field class="full-width">
			<input type="password" matInput placeholder="Confirm password"
			       formControlName="confirmPassword" [(ngModel)]="model.confirmPassword"
			       [errorStateMatcher]="parentErrorStateMatcher" required>
			<mat-error *ngIf="registrationFormModel.get('matchingPassword').hasError('required', ['confirmPassword'])">
				Please, specify confirm password field
			</mat-error>
			<mat-error *ngIf="registrationFormModel.get('matchingPassword').hasError('areEqual')">
				Password mismatch
			</mat-error>
		</mat-form-field>
	</div>

	<button mat-flat-button color="primary" class="sign-in-button" style="margin-top: 15px">
		<span class="center-text">
			<mat-icon class="material-icons">input</mat-icon>
			<span>Sign up</span>
		</span>
	</button>
</form>
