<mat-card style="margin: 20px; width: 600px">
	<mat-card-header>
		<mat-card-title>Update User Info</mat-card-title>
	</mat-card-header>
	<mat-card-content>

		<img class="center-text" width="128" height="128"
		     [src]="avatarPreview"
		     alt="person" style="
		     background-color: #d1d8e0; border-radius: 50%;" (click)="fileInput.click()"/>

		<button type="button" mat-raised-button color="primary"
		        (click)="fileInput.click()">Choose Avatar
		</button>
		<input hidden type="file" #fileInput (change)="handleFileInput($event.target.files)">

		<form [formGroup]="updateUserInfoFormGroup">
			<mat-list>
				<mat-form-field class="full-width">
					<input matInput placeholder="Username" formControlName="username">
					<mat-error *ngIf="updateUserInfoFormGroup.hasError('required', ['username'])" >
						Please, specify this field
					</mat-error>
					<mat-error *ngIf="updateUserInfoFormGroup.hasError('pattern', ['username'])">
						Invalid login format
					</mat-error>
					<mat-error *ngIf="updateUserInfoFormGroup.hasError('usernameExists', ['username'])">
						Username already exists
					</mat-error>
				</mat-form-field>

				<mat-form-field class="full-width">
					<input matInput placeholder="First Name" formControlName="firstName">
					<mat-error *ngIf="updateUserInfoFormGroup.controls['firstName'].invalid
					&& updateUserInfoFormGroup.controls['firstName'].touched">
						Please, specify this field
					</mat-error>
				</mat-form-field>
				<mat-form-field class="full-width">
					<input matInput placeholder="Last Name" formControlName="lastName">
					<mat-error *ngIf="updateUserInfoFormGroup.controls['lastName'].invalid
					&& updateUserInfoFormGroup.controls['lastName'].touched">
						Please, specify this field
					</mat-error>
				</mat-form-field>
			</mat-list>
			<mat-card-actions>
				<button mat-flat-button color="primary" class="create" (click)="update()">Update User Info</button>
				<button mat-raised-button color="primary" style="margin-left: 340px" (click)="delete()">Delete Account
				</button>
			</mat-card-actions>
		</form>
	</mat-card-content>
</mat-card>