<mat-card style="margin: 20px; width: 600px">
	<mat-card-header>
		<mat-card-title>Create Sprint</mat-card-title>
	</mat-card-header>

	<mat-card-content>
		<form [formGroup]="createSprintFormModel" (ngSubmit)="create()">
			<mat-form-field class="full-width">
				<input matInput placeholder="Name"
				       formControlName="name">
				<mat-error *ngIf="createSprintFormModel.controls['name'].invalid
              && createSprintFormModel.controls['name'].touched">
					Please, specify this field
				</mat-error>
			</mat-form-field>

			<mat-form-field class="full-width">
				<input matInput placeholder="Description"
				       formControlName="description">
				<mat-error *ngIf="createSprintFormModel.controls['description'].invalid
              && createSprintFormModel.controls['description'].touched">
					Please, specify this field
				</mat-error>
			</mat-form-field>

			<mat-form-field class="full-width">
				<input [matDatepicker]="startDatePicker" matInput placeholder="StartDate"
				       formControlName="startDate">
				<mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
				<mat-datepicker #startDatePicker></mat-datepicker>
				<mat-error *ngIf="createSprintFormModel.controls['startDate'].invalid
              && createSprintFormModel.controls['startDate'].touched">
					Please, specify this field
				</mat-error>
			</mat-form-field>

			<mat-form-field class="full-width">
				<input matInput placeholder="EndDate"
				       [matDatepicker]="endDatePicker"
				       formControlName="endDate">
				<mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
				<mat-datepicker #endDatePicker></mat-datepicker>
				<mat-error *ngIf="createSprintFormModel.controls['endDate'].invalid
              && createSprintFormModel.controls['endDate'].touched">
					Please, specify this field
				</mat-error>
			</mat-form-field>

			<mat-form-field class="full-width">
				<mat-select placeholder="Status" formControlName="status">
					<mat-option *ngFor="let status of statuses" [value]="status.valueOf()">
						{{status.valueOf()}}
					</mat-option>
					<mat-error *ngIf="createSprintFormModel.controls['status'].invalid
              && createSprintFormModel.controls['status'].touched">
						Please, specify this field
					</mat-error>
				</mat-select>
			</mat-form-field>

			<button mat-flat-button color="primary" class="create">
		  <span class="center-text">
            <span>Create Sprint</span>
		  </span>
			</button>
		</form>
	</mat-card-content>
</mat-card>