@import "../../../../../assets/styles/theme";

.main-menu__item {

	&:hover {
		background-color: darken(white, 10%);
	}

	> a {
		text-decoration: none;
		padding: 15px 15px 15px 15px;

		box-sizing: border-box;

		&:visited {
			color: black;
		}
	}
}

