<mat-nav-list style="padding-top: 0">
    <app-main-submenu mat-list-item
                      icon="all_inbox"
                      placeholder="Projects">
        <mat-nav-list style="padding-top: 0;">
            <div mat-list-item matRipple
                 class="main-menu__item"
                 *ngFor="let route of projectRoutes;"
                 style="padding-left: 30px">
                <a class="center-text full-width"
                   [routerLink]="route.link"
                   routerLinkActive="mat-tab-link-active"
                >
                    <mat-icon class="material-icons">{{route.icon}}</mat-icon>
                    <span>{{route.label}}</span>
                </a>
            </div>
        </mat-nav-list>


        <mat-nav-list style="padding-top: 0;">
            <div mat-list-item matRipple
                 class="main-menu__item"
                 *ngFor="let route of documentationRoutes;">
                <a class="center-text full-width"
                   [routerLink]="route.link"
                   routerLinkActive="mat-tab-link-active"
                >
                    <mat-icon class="material-icons">{{route.icon}}</mat-icon>
                    <span>{{route.label}}</span>
                </a>
            </div>
        </mat-nav-list>
    </app-main-submenu>

    <app-main-submenu mat-list-item icon="account_box" placeholder="User Account">
        <mat-nav-list style="padding-left: 30px;">
            <div mat-list-item matRipple
                 class="main-menu__item"
                 *ngFor="let route of userRoutes;">
                <a class="center-text full-width"
                   [routerLink]="route.link"
                   routerLinkActive="mat-tab-link-active"
                >
                    <mat-icon class="material-icons">{{route.icon}}</mat-icon>
                    <span>{{route.label}}</span>
                </a>
            </div>
            <app-main-submenu mat-list-item icon="edit" placeholder="Edit" style="padding-top: 0px">
                <mat-nav-list style="padding-left: 30px">
                    <div mat-list-item matRipple class="main-menu__item"
                         *ngFor="let route of updateInfoRoutes;">
                        <a class="center-text full-width"
                           [routerLink]="route.link"
                           routerLinkActive="mat-tab-link-active">
                            <mat-icon class="material-icons">{{route.icon}}</mat-icon>
                            <span>{{route.label}}</span>
                        </a>
                    </div>
                </mat-nav-list>
                <mat-nav-list style="padding-left: 30px">
                    <div mat-list-item matRipple class="main-menu__item"
                         *ngFor="let route of updateEmailRoutes;">
                        <a class="center-text full-width"
                           [routerLink]="route.link"
                           routerLinkActive="mat-tab-link-active">
                            <mat-icon class="material-icons">{{route.icon}}</mat-icon>
                            <span>{{route.label}}</span>
                        </a>
                    </div>
                </mat-nav-list>
                <mat-nav-list style="padding-left: 30px">
                    <div mat-list-item matRipple class="main-menu__item"
                         *ngFor="let route of updatePasswordRoutes;">
                        <a class="center-text full-width"
                           [routerLink]="route.link"
                           routerLinkActive="mat-tab-link-active">
                            <mat-icon class="material-icons">{{route.icon}}</mat-icon>
                            <span>{{route.label}}</span>
                        </a>
                    </div>
                </mat-nav-list>


            </app-main-submenu>
        </mat-nav-list>
    </app-main-submenu>

    <mat-nav-list style="padding-top: 0;">
        <div mat-list-item matRipple
             class="main-menu__item">
            <a class="center-text full-width"
               (click)="logout()"
            >
                <mat-icon class="material-icons">all_inbox</mat-icon>
                <span>Logout</span>
            </a>
        </div>
    </mat-nav-list>
</mat-nav-list>
