<mat-card style="margin: 20px; width: 600px">
	<mat-card-header>
		<mat-card-title>Create Project</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<form [formGroup]="createProjectFormModel" (ngSubmit)="create()">
			<mat-form-field class="full-width">
				<input matInput placeholder="Name"
					   formControlName="projectName">
				<mat-error *ngIf="createProjectFormModel.controls['projectName'].invalid
									&& createProjectFormModel.controls['projectName'].touched">
					Please, specify this field
				</mat-error>
			</mat-form-field>

			<mat-form-field class="full-width">
				<input matInput placeholder="Description"
					   formControlName="projectDescription" >
				<mat-error *ngIf="createProjectFormModel.controls['projectDescription'].invalid
      								&& createProjectFormModel.controls['projectDescription'].touched">
					Please, specify this field
				</mat-error>
			</mat-form-field>

			<mat-form-field class="full-width">
				<input matInput
					   formControlName="startDate"
					   [matDatepicker]="startDatePicker" placeholder="Start Date">
				<mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
				<mat-datepicker #startDatePicker></mat-datepicker>
				<mat-error *ngIf="createProjectFormModel.controls['startDate'].invalid
      								&& createProjectFormModel.controls['startDate'].touched">
					Please, specify this field
				</mat-error>
			</mat-form-field>

			<mat-form-field class="full-width">
				<input matInput
					   formControlName="endDate"
					   [matDatepicker]="endDatePicker" placeholder="End Date">
				<mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
				<mat-datepicker #endDatePicker></mat-datepicker>
				<mat-error *ngIf="createProjectFormModel.controls['endDate'].invalid
      								&& createProjectFormModel.controls['endDate'].touched">
					Please, specify this field
				</mat-error>
			</mat-form-field>

			<button mat-flat-button color="primary" class="create">
				<span class="center-text">
					<mat-icon>add_box</mat-icon>
					<span>Create Project</span>
				</span>
			</button>
		</form>
	</mat-card-content>
</mat-card>
