<div class="login-page" fxLayout fxLayoutAlign="center center">
	<div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="40"  fxFlex.lg="30" fxFlex.xl="30">
		<mat-card class="login-page-placeholder">
			<nav mat-tab-nav-bar>
				<a mat-tab-link
				   *ngFor="let route of routes;"
				   [routerLink]="route.link"
				   routerLinkActive="mat-tab-link-active"
				   [active]="router.isActive(route.link, true)">
					<mat-icon class="material-icons">{{route.icon}}</mat-icon>
					<span>{{route.label}}</span>
				</a>
			</nav>
			<router-outlet></router-outlet>
		</mat-card>
	</div>
</div>
