<div fxLayout="row"
	 fxLayoutGap="20px"
	 fxLayoutAlign="center start">
	<button mat-button color="accent" gdAlignColumns="center start">
		<mat-icon (click)="addDocument()">add</mat-icon>
	</button>
</div>