<div fxLayout="row" fxLayoutGap="30px">
    <mat-card fxFlex="30%" style="height: calc(100vh - 140px)">
        <mat-card-actions fxLayout="row">
            <span class="app-card-title">Sprints</span>
            <span fxFlex="1 1 auto"></span>
            <button mat-flat-button (click)="createSprintRouting()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-actions>
        <mat-card-content style="height: 90%; overflow-y: auto">
            <div>
                <div *ngFor="let item of sprints" class="sprint">
                    <div>
                        <a [routerLink]="'/app/sprint/board/' + item.objectId"
                           class="sprint-link">
                            <span>{{item.name}}</span>
                        </a>
                    </div>
                    <div fxLayout="row">
                        <div style="font-size: 16px">
                            <span>Status: {{item.status}}</span>
                            <br>
                            <span>Start date: {{dateService.getDate(item.startDate)}}</span>
                            <br>
                            <span>End date: {{dateService.getDate(item.endDate)}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex="40%" style="height: calc(100vh - 140px)">
        <mat-card-actions fxLayout="row" fxLayoutAlign="start center">
            <span class="app-card-title">Participants</span>
            <span fxFlex="1 1 auto"></span>
            <button mat-flat-button (click)="addParticipant()">
                <mat-icon style="font-size: 30px">group_add</mat-icon>
            </button>
        </mat-card-actions>
        <mat-card-content style="height: 90%; overflow-y: auto">
            <div>
                <div *ngFor="let item of (participants | async)" class="sprint">
                    <div fxLayout="row" fxLayoutGap="20px">
                        <div>
                            <img [src]="item.avatar" [alt]="item.userId"
                                width="64" height="64"
                                style="border-radius: 50%;">
                        </div>
                        <div style="font-size: 16px">
                            <a [routerLink]="'/app/user/info/' + item.userId"
                               class="sprint-link">{{item.username}}</a>
                            <div>
                                Full name: {{item.firstName + " " + item.lastName}}
                            </div>
                            <div>
                                Role: {{item.role}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex="30%" style="height: calc(100vh - 140px)">
        <mat-card-actions fxLayout="row" fxLayoutAlign="start center">
            <span class="app-card-title">Labels</span>
            <span fxFlex="1 1 auto"></span>
            <button mat-flat-button (click)="addLabel()">
                <mat-icon style="font-size: 30px">add_circle</mat-icon>
            </button>
        </mat-card-actions>
        <mat-card-content style="height: 90%; overflow-y: auto">
            <div>
                <div *ngFor="let label of (projectLabels | async)" class="sprint" style="font-size: 16px">
					<span class="task-label" [style.background-color]="'#' + label.color">
						<span style="color: white">{{label.name}}</span>
					</span>
                    <button mat-icon-button (click)="deleteLabel(label.objectId)">
                        <mat-icon>clear</mat-icon>
                    </button>
                    <br>
                    <span>Description: {{label.description}}</span>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>


