:host {
	width: 100%;
	padding: 40px;
}

.app-card-title {
	margin-left: 10px;
	font-size: 20px;
}

.sprint {
	border: 1px solid lightgray;
	border-radius: 10px;
	margin-top: 10px;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

.sprint-link {
	color: black;
	text-decoration: none;
	font-size: 19px;
	margin-bottom: 15px;
	display: inline-block;

	&:hover {
		text-decoration: underline;
		text-decoration-color: black;
	}
}
.task-label {
	padding: 2px 5px;
	border-radius: 30px;
	display: inline-block;
	margin-bottom: 10px;
}
